<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>출근</title>
    <style>
        h1{
            text-align: center;
        }
        form{
            font-size: 15px;
        }
        #view{
            text-align: center;
            position: relative;
        }
        input{
            width: 90%;
            padding: 10px;
            display: table; 
            margin-left: auto; 
            margin-right: auto;
            font-size: 15px;
        }
        #edit{
            position: absolute;
            font-size: 30px;
            padding: 10px 20px 10px 20px;
            border: 1px solid black;
            border-radius: 5px;
            bottom:0;
            right:0;
            margin-right: 25px;
            background-color: white;
        }
    </style>
    <script>
        let today = new Datew();
    </script>
</head>
<body>
    <h1>개인근태관리</h1>
    <form action="/update/<%= alba[0].id %>" method="POST">
        <div class="form__group field" id="view">
        <input type="submit" name="gtw_timn" value="<%= alba[0].gtw_timn %>" placeholder="출근"><br>
        <input type="submit" name="offw_time" value="<%= alba[0].offw_time %>" placeholder="퇴근"><br>
        <% alba.forEach(function (value) { %>
        <td><%= value.gtw_time %></td>
        <td><%= value.offw_time %></td>
        <% }); %>
        </div>
    </form>    
</body>
</html>